proxmox_api_url = "https://192.168.178.65:8006/api2/json"
proxmox_api_token_id = "root@pam!opentofu"
proxmox_api_token_secret = "9b0d73ab-acff-48dd-ad10-95cca44fc12b"
proxmox_target_node = "pve-1"

cluster_name = "dune"
cluster_endpoint = "https://192.168.178.151:6443"
